@import "../../node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";

* {
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #BBE8EA;
	background-image: url("../images/background.jpg");
}
.existing {
	color: white;
	// text-shadow: grey;
	// text-decoration: underline;
	text-shadow: 2px 2px #000;
	border-left: 6px solid #8481d8;
    background-color: #69CCD2;
		background-size: 30px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
}
.newdough {
	color: white;
	// text-shadow: grey;
	// text-decoration: underline;
	text-shadow: 2px 2px #000;
	border-left: 6px solid #8481d8;
    background-color: #69CCD2;
		background-size: 30px;
		border-top-right-radius: 5px;
		border-bottom-right-radius: 5px;
}

.login-container {
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 1%;
	background:	rgba(187, 232, 234,0.7);
	border-radius: 10px;
}

.image1 {
	max-width: 100%;
    height: auto;
		-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);


}
.oops-top {
width: 65%;
margin: auto;

}
.oops-header {
	max-width: 100%;
    height: auto;
		-webkit-filter: drop-shadow(5px 5px 5px #000);
 filter: drop-shadow(5px 5px 5px #000);
}

.auth-header {
	font-size: 50px;
	text-align: center;
	color: #22313F;
}

.auth-container-row {

	h2 {
		font-size: 50px;
		text-align: center;
		color: #000;
	}

}

.auth-inputs {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	padding: 10px;
	border: none;
	border-bottom: #c9c9c9;
	transition: border 0.3s;
	border-radius: 5px;
	width: auto;
}

.auth-button {
	background: #ECF0F1;
	font-size: 35px;
	width: 45%;
	height: 50px;
	margin-left: 30%;
}
.login-btn {
	background: #8481d8;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
		margin-top: 10px;

}

.button-create {
  display: inline-block;
	border-radius: 4px;
  background-color: #F5AB35;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
	margin-top: 10px;
	display: inline-block;
  vertical-align: top;

}

.button-create span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-create span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-create:hover span {
  padding-right: 25px;
}

.button-create:hover span:after {
  opacity: 1;
  right: 0;
}
.button-about {
  display: inline-block;
	border-radius: 4px;
  background-color: #CF000F;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 16px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
	margin-top: 10px;

}

.button-about span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button-about span:after {
  content: '»';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button-about:hover span {
  padding-right: 25px;
}

.button-about:hover span:after {
  opacity: 1;
  right: 0;
}
.create-soft {
	border-radius: 5px;
	background:	rgba(0,150,136,0.7);
	width: 60%;
	margin: auto;
	padding: 10px;
	margin-top: 4%;
}

.create-h1 {
	text-align: center;
	text-decoration-color: #FFFFFF;
	color: #FFF;
	font-size: 100px;
	text-shadow: 1px 1px grey;
}
.create-profile {
	font-family: 'Roboto', sans-serif;
	text-align: center;

}
.create-text {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	padding: 10px;
  border: none;
  border-bottom:  solid 2px #c9c9c9;
  transition: border 0.3s;
	border-radius: 5px;
}
.create-text:focus {
	outline: none;
	border-bottom: solid 2px #969696;
}

.create-field {
	font-family: 'Roboto', sans-serif;
	font-size: 25px;
	font-weight: bold;
	margin-top: 10px;
	color: white;
}
.create-btn {
	background-color: #7C4DFF;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.create-btn:hover {
	background-color: #FFF;
	color: #7C4DFF;
}
.create-btn:focus {
	outline: none;
}

.auth-container-row {
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 4%;
	background:	rgba(244,179,80,0.7);
	border-radius: 10px;
	padding-bottom: 10px;
	color: #000;
	font-size: 20px;
}
.description{
	font-size: 18px;
	color: white;
	text-shadow: 2px 2px #000;
}
.income-label {
	font-size: 20px;
}

.payment-inputs {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	padding: 10px;
  border: none;
  border-bottom:  solid 2px #c9c9c9;
  transition: border 0.3s;
	border-radius: 5px;

}

.payment-inputs:focus {
	outline: none;
	border-bottom: solid 2px #969696;
}
.pay-label {
	text-align: center;
	color: white;
	text-decoration-color: white;
	font-size: 65px;
	text-shadow: 1px 1px #000;

}
.btn-default {
	background-color: #6acdcc;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}

.btn-default :hover {
	background-color: #FFF;
	color:#6acdcc;
}
.center {
	margin: auto;
}
.multi-container {
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 4%;
	background:	rgba(190,144,212,0.7);
	border-radius: 10px;
	padding-bottom: 10px;
	color: white;
}
.new-btn {
	background-color: #7C4DFF;
	border-radius: 5px;
	border: none;
	// color: white;
	padding: 15px 32px;
	text-align: center;
	margin-top: 10px;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;

}
.sav-h1{
	text-align: center;
	color: #FFF;
	font-size: 85px;
	text-shadow: 1px 1px grey;
}
.sav-text {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	padding: 10px;
  border: none;
  border-bottom:  solid 2px #c9c9c9;
  transition: border 0.3s;
	border-radius: 5px;
	color: black;
	margin-bottom: 15px;
}

.sav-text:focus {
	outline: none;
	border-bottom: solid 2px #969696;
}
.savings-field {
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 4%;
	background:	rgba(133,166,215,0.7);
	border-radius: 10px;
	padding-bottom: 10px;
	color: white;
	font-size: 25px;
}

.abt {
	width: 60%;
	text-align: center;
	margin: auto;
	margin-top: 5%;
	background-color: rgba(217,30,24,0.7);
	border-radius: 10px;
	color: #fff;
	height:60%;
}

.abtimage {
	max-width: 75%;
    height: auto;
		-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);
	margin: auto;
}
.dashlogo{
	width: 40%;
	margin-top: 5%;
}
.dash-sub-header {
	font-size: 40px;
}
.dash {
	font-size: 35px;
}
