* {
	box-sizing: border-box;
}

body{
	font-family: 'Roboto', sans-serif;
	background: #BBE8EA;
	background-image: url("../images/background.jpg");
}

.login-container {
	width: 60%;
	text-align: center;
	margin: auto;
	background:	rgba(187, 232, 234,0.7)

}
.image1 {
	max-width: 100%;
    height: auto;
		-webkit-filter: drop-shadow(5px 5px 5px #222);
  filter: drop-shadow(5px 5px 5px #222);


}
.oops-top {
width: 65%;
margin: auto;

}
.oops-header {
	max-width: 100%;
    height: auto;
		-webkit-filter: drop-shadow(5px 5px 5px #000);
 filter: drop-shadow(5px 5px 5px #000);
}

.auth-header {
	font-size: 50px;
	text-align: center;
	color: #22313F;
}

.auth-container-row {

	h2 {
		font-size: 50px;
		text-align: center;
		color: #000;
	}

}

.auth-inputs {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	padding: 10px;
	border: none;
	border-bottom: #c9c9c9;
	transition: border 0.3s;
	border-radius: 5px;
}

.auth-button {
	background: #ECF0F1;
	font-size: 35px;
	width: 45%;
	height: 50px;
	margin-left: 30%;
}
.login-btn {
	background-color:#52B3D9;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;

}
.create-soft {
	border-radius: 5px;
	background: #009688;
	opacity: 60%;
}
.create-h1 {
	text-align: center;
	text-decoration-color: #FFFFFF;
	color: #FFF;
}
.create-profile {
	font-family: 'Roboto', sans-serif;
	text-align: center;

}
.create-text {
	font-family: 'Roboto', sans-serif;
	font-style: bold;
	padding: 10px;
  border: none;
  border-bottom:  solid 2px #c9c9c9;
  transition: border 0.3s;
	border-radius: 5px;
}
.create-text:focus {
	outline: none;
	border-bottom: solid 2px #969696;
}
.create-btn {
	background-color: #7C4DFF;
	border-radius: 5px;
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 16px;
	-webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}
.create-btn:hover {
	background-color: #FFF;
	color: #7C4DFF;
}
.create-btn:focus {
	outline: none;
}
