* {
	box-sizing: border-box;
}

body{
	font-family: Helvetica, Arial, sans-serif;
	background: #2ECC71;
}

.login-container {
	width: 100%;
}

.auth-header {
	font-size: 50px;
	text-align: center;
	color: #22313F;
}

.auth-container-row {

	h2 {
		font-size: 50px;
		text-align: center;
		color: #000;
	}

}

.auth-inputs {
	height: 40px;
	width: 45%;
	margin-left: 30%;
	font-size: 35px;
	background: #2C3E50;
	color: #ECF0F1;
}

.auth-button {
	font-size: 35px;
	width: 45%;
	height: 50px;
	margin-left: 30%;
}
